# Dados ausentes

Vamos mostrar alguns métodos convenientes para lidar com Missing Data em pandas:

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'A': [1,2,np.nan],
                  'B': [5,np.nan,np.nan],
                  'C': [1,2,3]})

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

### Dropna

O método `dropna()` é usado em pandas para remover valores nulos `(NaN)` de um objeto `Series` ou `DataFrame`. Quando chamado em uma Series, ele retorna uma nova Series sem os valores nulos. Quando chamado em um DataFrame, ele remove linhas ou colunas que contenham pelo menos um valor nulo, dependendo do parâmetro axis.

In [5]:
## por padrao axis = 0 -> derruba linhas
df.dropna()

     A    B  C
0  1.0  5.0  1

In [6]:
### para tirar as colunas com NaN : 
df.dropna(axis=1)

   C
0  1
1  2
2  3

### usando parâmetro Thresh para impor um limite

In [8]:
## Se tiver em uma linha  2 ou mais NaN, a gente tira fora

df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

### fillna

O método `fillna()` é usado em Pandas para preencher valores nulos `(NaN)` em um objeto Series ou DataFrame com um valor específico. Isso pode ser útil para substituir os valores nulos por uma média, mediana, valor específico ou mesmo um valor calculado com base em outros dados.

In [9]:
df.fillna(value='Conteúdo')

          A         B  C
0       1.0       5.0  1
1       2.0  Conteúdo  2
2  Conteúdo  Conteúdo  3

In [11]:
## preenchendo com valores 0

df.fillna(0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [15]:
df.fillna(value=df['A'].mean())

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  1.5  1.5  3

Além disso, o método `fillna()` também suporta o parâmetro method, que permite preencher os valores nulos com base nos valores anteriores ou posteriores na Series ou DataFrame. Por exemplo, para preencher os valores nulos com os valores anteriores `forward fill`:

In [16]:
df.fillna(method='ffill')

/tmp/ipykernel_259185/1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3